<mat-nav-list>
  <a mat-list-item (click)="onSidenavToggle()" routerLink="/login"><mat-icon>input</mat-icon>Login</a>
  <a mat-list-item (click)="onSidenavToggle()" routerLink="/home"><mat-icon>home</mat-icon>Home</a>
  <a mat-list-item (click)="onSidenavToggle()" routerLink="/profile"><mat-icon>face</mat-icon>Profile</a>
  <a mat-list-item (click)="onSidenavToggle()" routerLink="/score"><mat-icon>healing</mat-icon>Health Score</a>
  <a mat-list-item (click)="onSidenavToggle()" routerLink="/healthdata"><mat-icon>data_usage</mat-icon>Health Data</a>
  <a mat-list-item (click)="onSidenavToggle()" ><mat-icon>eject</mat-icon>Log-out</a>
</mat-nav-list>